.footer{
    height: 150px;
    width: 100%;
    /*background-color: rgb(10, 10, 58);*/
    background-color: black;
    /*background-color: white;*/
    /*border: 2px solid black;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer1{
    height: 180px;
    width: 250px;
    border: 0px solid blue;
    float: left;
    color: white;
    text-align: center;

}