table{
    height: 400px;
}
input{
    width: 100%;
    height: 35px;
    border: 2px solid black;
    font-size: 20px;
}
textarea{
    width: 100%;
    height: 85px;
    border: 2px solid black;
    font-size: 20px;
}
select{
    width: 100%;
    height: 35px;
    border: 2px solid black;
    font-size: 20px;
}
reset:hover{
    background-color: black ;
}
input[type=button]:hover{
    border-radius: 15px;
    background-color: black ;
    color: white;
}